#fonts style
    .raleway-normal {
  font-family: "Raleway", sans-serif;;
  font-style: normal;
}

.background{
    background-image: url(/Hero-bg.png.png);
}
.navbar-img{
    margin-left: 30px;
    margin-top: 10px;
}

.navbar{
    display: flex;
    justify-content: space-between;
    /* margin-top: 15px; */
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.signup-btn{
    font-weight: 700;
    font-size: 16px;
    color: aliceblue;
    background-color: blue;
    border-radius: 8px;
    border: none;
    margin-right: 30px;
    margin-top: 10px;
    padding: 10px;
}

/* banner section css */
.banner{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.banner-text{
    font-size: 80px;
    font-weight: 700;
    margin-bottom: 30px;
    margin-left: 70px;
    margin-right: 70px;
    text-align: center;

}

.banner-btn{
    font-weight: 700;
    font-size: 16px;
    color: aliceblue;
    background-color: blue;
    border-radius: 8px;
    border: none;
    margin-bottom: 30px;
    padding: 10px;
}